@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Montserrat', sans-serif;






/* --color-white: #FFFFFF; */

 --color-gray-50: #FFFFFF;
--color-gray-100: #F2F2F2;
--color-gray-200: #DEDEDE;
--color-gray-300: #C9C9C8;
--color-gray-400: #B5B4B1;
--color-gray-500: #A19F9A;
--color-gray-600: #8C8A85;

--color-gray-700: #78766F;

--color-gray-800: #63615B;
--color-gray-900: #4F4D47;
--color-gray-950: #3C3934;

--color-green-50: #FBFFFA;
--color-green-100: #F0FFED;
--color-green-200: #E5FFDF;
--color-green-300: #D9FFD2;
--color-green-400: #BDE8B4;
--color-green-500: #9DCB94;
--color-green-600: #80AE77;

--color-green-700: #65915C;

--color-green-800: #4C7444;
--color-green-900: #35562F;
--color-green-950: #21391C;


--color-black: #020B00;
--color-error: #E21B1;



--color-zinc-50: var(--color-gray-50);
--color-zinc-100: var(--color-gray-100);
--color-zinc-200: var(--color-gray-200);
--color-zinc-300: var(--color-gray-300);
--color-zinc-400: var(--color-gray-400);
--color-zinc-500: var(--color-gray-500);
--color-zinc-600: var(--color-gray-600);
--color-zinc-700: var(--color-gray-700);
--color-zinc-800: var(--color-gray-800);
--color-zinc-900: var(--color-gray-900);
--color-zinc-950: var(--color-gray-950);



--color-accent: var(--color-green-700);
--color-accent-content: var(--color-green-950);
--color-accent-foreground: var(--color-white);



}

@layer base {

	.current{

		&:before {
			content: url("/public/img/dot.svg");
			@apply mr-0.5 mb-0.5;

		}

	}
	.prose-sm{

		@apply !leading-[150%] ;
	}

	h1 {
		@apply text-pretty tracking-tight text-[28px] lg:text-[34px] font-semibold text-gray-800 leading-snug ;
  } 
  h2 {
		@apply   text-base sm:text-base md:text-base lg:text-lg xl:text-[19px] font-semibold text-gray-950 leading-snug;
  } 


	.btn{
		@apply text-gray-950 uppercase tracking-widest text-xs md:text-sm xl:text-sm transition duration-300 ease-out;

		&:hover {
			opacity: .5;
		}

		&:after {
			content: url("/public/img/arrow.svg");
			
			

			
		}

	}
}


[data-flux-control] {
	@apply !border-x-0 !border-t-0 !border-b-gray-900 !rounded-none;
}
[data-flux-label]{
	@apply !text-gray-500 !mb-0;
}
[data-flux-button]{	
	@apply !font-normal hover:!bg-zinc-800/0 hover:!text-green-700/100 transition-colors !text-left !text-gray-950 !uppercase !tracking-widest !text-[14px];
}

[data-flux-checkbox-indicator]{
	@apply shrink-0 size-[1.125rem] rounded-[.3rem] flex justify-center items-center text-sm text-gray-700 dark:text-gray-800 shadow-xs [ui-checkbox[disabled]_&]:opacity-75 [ui-checkbox[data-checked][disabled]_&]:opacity-50 [ui-checkbox[disabled]_&]:shadow-none [ui-checkbox[data-checked]_&]:shadow-none [ui-checkbox[data-indeterminate]_&]:shadow-none [ui-checkbox[data-checked]:not([data-indeterminate])_&>svg:first-child]:block [ui-checkbox[data-indeterminate]_&>svg:last-child]:block border border-gray-300 dark:border-white/10 [ui-checkbox[disabled]_&]:border-gray-200 dark:[ui-checkbox[disabled]_&]:border-white/5 [ui-checkbox[data-checked]_&]:border-transparent [ui-checkbox[data-indeterminate]_&]:border-transparent [ui-checkbox[disabled][data-checked]_&]:border-transparent [ui-checkbox[disabled][data-indeterminate]_&]:border-transparent [print-color-adjust:exact] bg-white dark:bg-white/10 [ui-checkbox[data-checked]_&]:bg-[var(--color-accent)] hover:[ui-checkbox[data-checked]_&]:bg-(--color-accent) focus:[ui-checkbox[data-checked]_&]:bg-(--color-accent) [ui-checkbox[data-indeterminate]_&]:bg-[var(--color-accent)] hover:[ui-checkbox[data-indeterminate]_&]:bg-(--color-accent) focus:[ui-checkbox[data-indeterminate]_&]:bg-(--color-accent)
}
[data-flux-icon]{
	@apply max-sm:scale-80  ;
}


.carousel {
  @apply inline-flex overflow-x-scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}



/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */

	&::-webkit-scrollbar {
    @apply hidden;
  }
}
